# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config AMLOGIC_RTC_DRV_MESON_VRTC
	bool "Amlogic Meson Virtual RTC"
	default n
	help
	  If you say yes here you will get support for the
	  Virtual RTC of Amlogic SoCs.

	  This driver can also be built as a module. If so, the module
	  will be called rtc-meson-vrtc.

config AMLOGIC_MESON_RTC
	bool "Amlogic Meson RTC driver"
	default n
	help
	  This is the Amlogic rtc driver.

	  This driver can also be built as a module. If so, the module
	  will be called meson-rtc.
