# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

menuconfig AMLOGIC_GPIO
	tristate "Amlogic gpio support"
	default n
	help
	  Say Y here to get to see options for gpio drivers.
	  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be
	  skipped and disabled.

if AMLOGIC_GPIO

config AMLOGIC_GPIOLIB
	bool "Amlogic gpiolib expand"
	depends on AMLOGIC_GPIO
	depends on GPIOLIB
	default n
	help
	  Say Y here if you want to use the
	  amlogic gpiolib expand.

source "drivers/amlogic/gpio/irqchip/Kconfig"
source "drivers/amlogic/gpio/pinctrl/Kconfig"

endif # AMLOGIC_GPIO
