# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

menuconfig AMLOGIC_WIRELESS
	tristate "Amlogic wifi and bluetooth support"
	default n
	help
	  Say y here to get to see options for wireless drivers
	  This option alone does not add any kernel code.

          If you say N, all options in this submenu will be
          skipped and disabled.

if AMLOGIC_WIRELESS
source "drivers/amlogic/wireless/bluetooth/Kconfig"
source "drivers/amlogic/wireless/wifi/Kconfig"
endif
