# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config AMLOGIC_WIRELESS
	tristate "Amlogic wifi and bluetooth support"
	default n
	help
	  wifi and bluetooth support
	  select y for built-in
	  select m for ko
	  select n for disable

if AMLOGIC_WIRELESS
source "drivers/amlogic/wireless/bluetooth/Kconfig"
source "drivers/amlogic/wireless/wifi/Kconfig"
endif
